/* footer的样式 */

article>.footer-fixed-goods {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 37.5rem;
    min-width: 23.4375rem;
}

article>.footer-fixed-goods ul {
    width: 100%;
    display: flex;
}

article>.footer-fixed-goods ul>li {
    flex: 2;
    text-align: center;
}

article>.footer-fixed-goods ul>li>span {
    display: block;
}

article>.footer-fixed-goods>ul>.push-goods {
    background-color: thistle;
    color: white;
    flex: 3;
    line-height: 42px;
}

article>.footer-fixed-goods>ul>.buy-goods {
    background-color: coral;
    color: white;
    flex: 3;
}